.chat__container {
    font-family: var(--title-font-family);
}

.chat__container--board {
    margin-left: 38px;
    margin-right: 30px;
    width: calc(100% - 38px - 30px);
    box-sizing: border-box;
}